body{
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #050210;
    justify-content: center;
    align-items: center;

}

.circle{
    position: relative;
    width: 300px;
    height: 300px;
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    border-radius: 50%;
    animation: animate 2.5s linear infinite;
    vertical-align: middle;
    
}

@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.circle::after{
    content: '';
    position: absolute;
    top: 25px;
    bottom: 25px;
    right: 25px;
    left: 25px;
    border-radius: 50%;
    background-color: #050210;
}

.circle span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    border-radius: 50%;
    animation: animate 2.5s linear infinite;

}

.circle span:nth-child(1){
    filter: blur(10px);

}
.circle span:nth-child(2){
    filter: blur(15px);

}.circle span:nth-child(3){
    filter: blur(20px);

}.circle span:nth-child(4){
    filter: blur(255px);

}